.player {
  align-items: center;
}

/* .player {
  background-color: var(--input-field-color);
} */

.player {
  background-color: var(--secondary-color);
}

.player {
  color: var(--text-color);
}

.player {
  display: flex;
}

.player {
  height: 10%;
}

.player {
  justify-content: space-between;
}

/* .player {
  opacity: 50%;
} */

.player {
  padding-left: 1rem;
}

.player {
  padding-right: 1rem;
}
