:root {
  --primary-color: #ffea00;
  --secondary-color: #151515;
  --tertiary-color: #cccccc;
  --tertiary-color-2: #999999;
  --input-field-color: #444444;
  --base-color: #2f2f2f;
  --text-color: #f9f9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
